﻿@model MatematikciyizWebProje.Models.KonuAnlatim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KonuAnlatim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dersler.DersAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dersler.DersAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KonuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonuAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KonuAnlatimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
