﻿@model MatematikciyizWebProje.Models.KonuAnlatimVideo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KonuAnlatimVideo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KonuAnlatim.KonuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonuAnlatim.KonuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KonuVideoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
